/*----CABEÇALHO----*/

.header-container{    
    display: flex;
    justify-content: center;
    padding: 16px 32px; 
    background-color: #212f3b;            
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
    
}

#header-title{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*----CORPO----*/

body{
    margin: 0;
    background-color: #101418;
}

.titles-livraria{
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

h3{
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

/*Container Com Botões de seleção*/

.wrapper-centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-option-text-container{
    background-color: #121b24;
    width: 620px;
    height: 376px;
    border-radius: 10px;
}

a{
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

.options-container{
    margin-top: 23px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.button-container-1{
    background-color: #212f3b;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-1:hover{
    background-color: #384f63;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-2{
    background-color: #212f3b;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-2:hover{
    background-color: #384f63;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-3{
    background-color: #212f3b;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-3:hover{
    background-color: #384f63;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-4{
    background-color: #212f3b;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-4:hover{
    background-color: #384f63;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}



/*----RODAPÉ----*/

