/*----MENU PRINCIPAL----*/

/*----cabeçalho----*/

.header-container{    
    display: flex;
    justify-content: space-between; /* Alinha itens com espaço entre eles */
    align-items: center;            /* Centraliza verticalmente */
    padding: 16px 32px; 
    background-color: #212f3b;            
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
}

#header-title{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 425px;
}

.back-button{
    background-color: #364d61;
    color: white;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.back-button:hover{
    background-color: #486580;
}

/*----corpo----*/

body{
    margin: 0;
    background-color: #101418;
}

.titles-livraria{
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

h3{
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

/*Container Com Botões de seleção*/

.wrapper-centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-option-text-container{
    background-color: #121b24;
    width: 620px;
    height: 376px;
    border-radius: 10px;
}

a{
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

.options-container{
    margin-top: 23px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.button-container-1{
    background-color: #212f3b;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-1:hover{
    background-color: #384f63;
}

.button-container-2{
    background-color: #212f3b;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-2:hover{
    background-color: #384f63;
}

.button-container-3{
    background-color: #212f3b;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-3:hover{
    background-color: #384f63;
}

.button-container-4{
    background-color: #212f3b;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(31, 35, 49, 0.5);
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
}

.button-container-4:hover{
    background-color: #384f63;
}

/*----ADICIONAR, REMOVER, LISTAR E CONSULTAR LIVROS----*/


.text-boxes{
    background-color: #121b24;
    width: 620px;
    height: 376px;
    border-radius: 10px;
}

.input-style, .textarea-style {
    width: 90%;          /* reduz largura para 80% do container */
    padding: 8px;        
    margin: 25px auto;    /* centraliza com margem automática */
    display: block;      /* permite centralizar */
    border: 1px solid #384f63;
    border-radius: 4px;
    color: white;
    background: #212f3b;
    font-family: "Inter", sans-serif;
}

.submit-button {
    background-color: #212f3b;
    color: white;
    width: 50%;
    height: 14%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;        
    margin: 45px auto;    /* centraliza com margem automática */
    display: block;      /* permite centralizar */
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #384f63;
}

